@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000401;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #16b90a;
  }
}

body {
  min-height: 100vh;
  background:
    radial-gradient(circle at top left, #012d0c 0, transparent 55%),
    radial-gradient(circle at bottom right, #022c22 0, transparent 55%),
    radial-gradient(circle at center, #052e16 0, #020617 60%);
  color: #07170175;
}
